<a href="https://colab.research.google.com/github/dhruvcshekar/Dhruv/blob/main/cell_phone_webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup

import requests
import pandas as pd

In [ ]:
url = "https://www.amazon.in/s?k=mobile+phone&crid=35JOM2GA5EPCF&sprefix=mobile+phone%2Caps%2C348&ref=nb_sb_noss_1"

In [ ]:
headers= ({'User-Agent':'', 'Accept-Language':'en-US,en:q=0.5'})

In [ ]:
webpage= requests.get(url, headers=headers)
print(webpage)

<Response [200]>

In [ ]:
soup= BeautifulSoup(webpage.content,"html.parser")
soup

In [ ]:
title=soup.find_all("span",attrs={"class":"a-size-medium a-color-base a-text-normal"})
len(title)

16

In [ ]:
tit=[]

for i in title:
  i= i.get_text().replace("\n"," ")
  tit.append(i)

tit

['Samsung Galaxy M04 Dark Blue, 4GB RAM, 64GB Storage | Upto 8GB RAM with RAM Plus | MediaTek Helio P35 Octa-core Processor | 5000 mAh Battery | 13MP Dual Camera',
 'Samsung Galaxy M04 Light Green, 4GB RAM, 64GB Storage | Upto 8GB RAM with RAM Plus | MediaTek Helio P35 Octa-core Processor | 5000 mAh Battery | 13MP Dual Camera',
 'OnePlus Nord CE 3 Lite 5G (Pastel Lime, 8GB RAM, 128GB Storage)',
 'Samsung Galaxy M13 (Aqua Green, 6GB, 128GB Storage) | 6000mAh Battery | Upto 12GB RAM with RAM Plus',
 'Redmi A2 (Aqua Blue, 2GB RAM, 32GB Storage) | Powerful Octa Core G36 Processor | Upto 7GB RAM | Large 16.5 cm HD+ Display with Massive 5000mAh Battery | 2 Years Warranty [Limited time Offer]',
 'OnePlus Nord CE 3 Lite 5G (Chromatic Gray, 8GB RAM, 128GB Storage)',
 'OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM, 128GB Storage)',
 'realme narzo N55 (Prime Black, 4GB+64GB) 33W Segment Fastest Charging | Super High-res 64MP Primary AI Camera',
 'Redmi 12C (Royal Blue, 4GB RAM, 64GB Storage) | High Performance Mediatek Helio G85 | Big 17cm(6.71) HD+ Display with 5000mAh(typ) Battery',
 'realme narzo 50i Prime (Dark Blue 4GB RAM+64GB Storage) Octa-core Processor | 5000 mAh Battery',
 'Redmi 11 Prime 5G (Chrome Silver, 4GB RAM 64GB ROM) | Prime Design | MTK Dimensity 700 | 50 MP Dual Cam | 5000mAh | 7 Band 5G',
 'Samsung Galaxy M53 5G (Deep Ocean Blue, 8GB, 128GB Storage) | 108MP | sAmoled+ 120Hz | 16GB RAM with RAM Plus | Without Charger',
 'realme narzo N55 (Prime Black, 6GB+128GB) 33W Segment Fastest Charging | Super High-res 64MP Primary AI Camera',
 'realme narzo N55 (Prime Blue, 6GB+128GB) 33W Segment Fastest Charging | Super High-res 64MP Primary AI Camera',
 'Redmi 11 Prime 5G (Thunder Black, 4GB RAM, 64GB Storage) | Prime Design | MTK Dimensity 700 | 50 MP Dual Cam | 5000mAh | 7 Band 5G',
 'Samsung Galaxy M13 (Midnight Blue, 6GB, 128GB Storage) | 6000mAh Battery | Upto 12GB RAM with RAM Plus']

In [ ]:
price = soup.find_all("span", attrs = {"class":"a-price-whole"})
len(price)

16

In [ ]:
pri=[]

for i in price:
  i= i.get_text().replace("\n"," ")
  pri.append(i)

pri

['7,299',
 '7,299',
 '19,999',
 '11,699',
 '5,899',
 '19,999',
 '17,999',
 '10,999',
 '8,799',
 '7,399',
 '12,999',
 '27,999',
 '12,999',
 '12,999',
 '12,999',
 '11,699']

In [ ]:
rating = soup.find_all("i", attrs = {"class": "a-icon a-icon-star-small a-star-small-4 aok-align-bottom"})
len(rating)

16

In [ ]:
rate = []

for i in rating:
  i = i.get_text().replace("\n", " ")
  rate.append(i)

rate

['3.9 out of 5 stars',
 '3.9 out of 5 stars',
 '4.1 out of 5 stars',
 '4.1 out of 5 stars',
 '3.8 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.0 out of 5 stars',
 '3.9 out of 5 stars',
 '4.1 out of 5 stars',
 '4.1 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars']

In [ ]:
data=pd.DataFrame()

In [ ]:
data['title'] = tit
data['price'] = pri
data['rating'] = rate

data.head()

,title,price,rating
0,"Samsung Galaxy M04 Dark Blue, 4GB RAM, 64GB St...","7,299",3.9 out of 5 stars
1,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...","7,299",3.9 out of 5 stars
2,"OnePlus Nord CE 3 Lite 5G (Pastel Lime, 8GB RA...","19,999",4.1 out of 5 stars
3,"Samsung Galaxy M13 (Aqua Green, 6GB, 128GB Sto...","11,699",4.1 out of 5 stars
4,"Redmi A2 (Aqua Blue, 2GB RAM, 32GB Storage) | ...","5,899",3.8 out of 5 stars